---
layout: skelaton_of_page
---
   
<!-- start  home page content -->

<div class="container marketing">
<div class="row">   
   <div class="col-lg-8">
      <br/><br/>
      <h2 align="center">
		  <span style="font-size=70%;">This is the homepage of</span><br/>      
         The <em><b>C</b>ontinuous-<b>S</b>ymmetry-<b>M</b>easures</em><br/>
         <span style="font-size=70%;"> reasearch group at </span><br/>
         <em>The <b>O</b>pen <b>U</b>n<b>i</b>versity</em>
      </h2>
      
   </div>
{% for  item in site.homepage_items %}
{%- include homepage_item.html -%}
{% endfor %}
</div><!-- /.row -->
   
</div><!-- /.container marketing -->
<!-- end  home page content -->
